@import "tailwindcss";

@layer base {
    * {
        font-family: 'Times New Roman', Times, serif;
    }

    button {
        cursor: pointer;
    }
}

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}